<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpyStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SpyStudio.Properties.Settings.DataModelConnectionString" connectionString="Data Source=|DataDirectory|\DataModel.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
    <userSettings>
        <SpyStudio.Properties.Settings>
            <setting name="MaxStackTraceDepth" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="FileSystemUpdateInterval" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="RegistryUpdateInterval" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="TraceUpdateInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ShowTooltip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxTooltipModules" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ComUpdateInterval" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>SpyStudio</value>
            </setting>
            <setting name="DataInfoUpdateInterval" serializeAs="String">
                <value>5500</value>
            </setting>
            <setting name="RegistryBinarySize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FilterFieldsMain" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ProcessName&lt;/string&gt;
  &lt;string&gt;Pid&lt;/string&gt;
  &lt;string&gt;Tid&lt;/string&gt;
  &lt;string&gt;Caller&lt;/string&gt;
  &lt;string&gt;Function&lt;/string&gt;
  &lt;string&gt;ParamMain&lt;/string&gt;
  &lt;string&gt;ParamDetails&lt;/string&gt;
  &lt;string&gt;Result&lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="FilterFieldsCompare" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ProcessName&lt;/string&gt;
  &lt;string&gt;Caller&lt;/string&gt;
  &lt;string&gt;StackFrame&lt;/string&gt;
  &lt;string&gt;Function&lt;/string&gt;
  &lt;string&gt;ParamMain&lt;/string&gt;
  &lt;string&gt;ParamDetails&lt;/string&gt;
  &lt;string&gt;Result&lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="FilterMain" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilterCompare" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowUINTAsHex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveHookGroups" serializeAs="String">
                <value>activex,process,registry,windows creation,files,resources,common dialogs,exceptions</value>
            </setting>
            <setting name="ExportRegistryOnlyFromSelectedModules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterMainDefault" serializeAs="String">
                <value>&lt;filters&gt;
    &lt;filter type="contains" include="False"&gt;
        &lt;type&gt;contains&lt;/type&gt;
        &lt;include&gt;false&lt;/include&gt;
        &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;field&gt;ParamMain&lt;/field&gt;
        &lt;value&gt;uxtheme.dll&lt;/value&gt;
    &lt;/filter&gt;
&lt;/filters&gt;</value>
            </setting>
            <setting name="FilterCompareDefault" serializeAs="String">
                <value>&lt;filters&gt;
    &lt;filter type="contains" include="False"&gt;
        &lt;type&gt;contains&lt;/type&gt;
        &lt;include&gt;false&lt;/include&gt;
        &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;field&gt;ParamMain&lt;/field&gt;
        &lt;value&gt;uxtheme.dll&lt;/value&gt;
    &lt;/filter&gt;
    &lt;filter type="is" include="False"&gt;
        &lt;type&gt;Is&lt;/type&gt;
        &lt;include&gt;false&lt;/include&gt;
        &lt;enabled&gt;false&lt;/enabled&gt;
        &lt;field&gt;Caller&lt;/field&gt;
        &lt;value&gt;nt0_dll.dll&lt;/value&gt;
    &lt;/filter&gt;
&lt;/filters&gt;</value>
            </setting>
            <setting name="MinStackTraceDepth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ReportInternetReadFileBuffers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastExecutePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DlgPeep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastExecuteParameters" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProcMonLoadKernelCalls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcMonShowKernelStack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemMergeLayerPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterCompareLoadDefault" serializeAs="String">
                <value>&lt;filters&gt;
    &lt;filter type="contains" include="False"&gt;
        &lt;type&gt;contains&lt;/type&gt;
        &lt;include&gt;false&lt;/include&gt;
        &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;field&gt;ParamMain&lt;/field&gt;
        &lt;value&gt;uxtheme.dll&lt;/value&gt;
    &lt;/filter&gt;
    &lt;filter type="is" include="False"&gt;
        &lt;type&gt;is&lt;/type&gt;
        &lt;include&gt;false&lt;/include&gt;
        &lt;enabled&gt;false&lt;/enabled&gt;
        &lt;field&gt;Caller&lt;/field&gt;
        &lt;value&gt;nt0_dll.dll&lt;/value&gt;
    &lt;/filter&gt;
&lt;/filters&gt;</value>
            </setting>
            <setting name="FilterMainLoadDefault" serializeAs="String">
                <value>&lt;filters&gt;
    &lt;filter type="contains" include="False"&gt;
        &lt;type&gt;contains&lt;/type&gt;
        &lt;include&gt;false&lt;/include&gt;
        &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;field&gt;ParamMain&lt;/field&gt;
        &lt;value&gt;uxtheme.dll&lt;/value&gt;
    &lt;/filter&gt;
&lt;/filters&gt;</value>
            </setting>
            <setting name="FilterMainLoad" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilterCompareLoad" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileSystemShowTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemHideQueryAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemMergeLayerPathsCompare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAsUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="RunAsPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileSystemMergeWowPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemMergeWowPathsCompare" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemShowStartupModules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemShowStartupModulesCompare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemHideQueryAttributesCompare" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathLastSelectedAppFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathLastSelectedLogFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathLastSelectedTemplateFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="AsyncReg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegistryMergeWowPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegistryMergeClassPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UIUpdateInterval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LastDefaultLoadExtension" serializeAs="String">
                <value>spy</value>
            </setting>
            <setting name="FullStackInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorDotNetGc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorDotNetJit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorDotNetExceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorDotNetObjectAllocations" serializeAs="String">
                <value>False</value>
            </setting>
        </SpyStudio.Properties.Settings>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
